<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
  <title>Document</title>
</head>
<body>
  <div
  class="bg-gradient-to-r from-blue-500 to-purple-600 text-gray-100 font-sans"
>
  <div
    class="max-w-4xl mx-auto my-8 bg-white shadow-lg rounded-lg overflow-hidden md:flex"
  >
    <!-- Left Side -->
    <div
      class="bg-gradient-to-b from-black-800 to-black-700 text-white p-6 w-full md:w-1/3"
    >
      <div class="text-center mb-8">
        <img
          src="_kobe.jpg"
          alt="Profile Picture"
          class="w-32 h-32 rounded-full mx-auto"
        />
        <h2 class="text-2xl font-semibold mt-4">Mouhamadou Gaye</h2>
        <p class="text-sm font-light">
          Agent administratif et Comptable (Générale)
        </p>
      </div>

      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">Infos Personnelles</h3>
        <ul class="space-y-2 text-sm">
          <li><i class="fa fa-envelope mr-2"></i>kobe@gmail.com</li>
          <li><i class="fa fa-phone mr-2"></i>06 64 74 15 06</li>
          <li>
            <i class="fa fa-location-pin mr-2"></i>25 rue des renaudes, 75017
          </li>
          <li><i class="fa fa-car mr-2"></i>Permis B</li>
        </ul>
      </div>

      <div class="mb-6">
        <h3 class="text-lg font-semibold mb-2">FORMATION</h3>
        <ul class="space-y-3 text-sm">
          <li>
            <p class="font-semibold">2019 - 2021</p>
            <p>Master en Finance et Comptabilité, IEAM & EIPDCE, Paris</p>
          </li>
          <li>
            <p class="font-semibold">2013 - 2017</p>
            <p>Licence et Master1 en Économie et Gestion, UCAD, Dakar</p>
          </li>
          <li>
            <p class="font-semibold">2012 - 2013</p>
            <p>Baccalaureat S2, Lycée de Thiaroye, Dakar</p>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-2">LANGUES</h3>
        <ul class="space-y-3 text-sm">
          <li>
            Anglais
            <span class="block w-3/4 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 75%"
              ></span
            ></span>
          </li>
          <li>
            Wolof
            <span class="block w-3/4 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 90%"
              ></span
            ></span>
          </li>
        </ul>
      </div>
    </div>

    <!-- Right Side -->
    <div class="p-6 w-full md:w-2/3">
      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800">Profil</h2>
        <p class="text-gray-600 mt-2">
          Agent administratif et comptable avec plus de 4 ans d'expérience
          dans la gestion comptable d'entreprises PME et TPE.
        </p>
      </div>

      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800">
          Expériences Professionnelles
        </h2>
        <div class="space-y-4 mt-4 text-gray-600">
          <!-- Experience Entries -->
          <div>
            <p class="font-semibold text-gray-800">
              2023 - 2024: Hôtel Mercure, Assistant de Gestion
            </p>
            <ul class="list-disc ml-5">
              <li>
                Participer à l'élaboration des procédures de contrôle interne.
              </li>
              <li>Analyse et justification des coûts.</li>
              <li>Identification et résolution des anomalies comptables.</li>
              <li>
                Rédaction des annexes comptables et du rapport de gestion.
              </li>
              <li>Effectuer les déclarations fiscales.</li>
            </ul>
          </div>

          <div>
            <p class="font-semibold text-gray-800">
              2021 - 2023: RECO, Agent administratif et Comptable
            </p>
            <ul class="list-disc ml-5">
              <li>Enregistrement des opérations comptables.</li>
              <li>
                Etablissement des factures et traitement des opérations
                bancaires.
              </li>
              <li>Préparation des comptes annuels.</li>
            </ul>
          </div>

          <div>
            <p class="font-semibold text-gray-800">
              2020 - 2021: Ubble, Opérateur de saisie
            </p>
            <ul class="list-disc ml-5">
              <li>Contrôle des pièces justificatives.</li>
              <li>Saisie des données et mise à jour des bases de données.</li>
            </ul>
          </div>

          <div>
            <p class="font-semibold text-gray-800">
              2019 - 2020: Auchan, Agent polyvalent
            </p>
            <ul class="list-disc ml-5">
              <li>Commande et mise en rayon des produits.</li>
              <li>Vente et fidélisation client.</li>
              <li>Management des équipes.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="mb-6">
        <h2 class="text-xl font-semibold text-gray-800">Compétences</h2>
        <div class="space-y-3 mt-4">
          <div class="text-gray-800">
            Comptabilité, assistance de Gestion
            <span class="block w-4/5 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 85%"
              ></span
            ></span>
          </div>
          <div class="text-gray-800">
            Management & Marketing
            <span class="block w-4/5 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 75%"
              ></span
            ></span>
          </div>
          <div class="text-gray-800">
            PHP, React, SQL
            <span class="block w-4/5 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 55%"
              ></span
            ></span>
          </div>
          <div class="text-gray-800">
            Pack Office
            <span class="block w-4/5 bg-gray-300 h-2 mt-1 rounded-full"
              ><span
                class="block bg-blue-500 h-2 rounded-full"
                style="width: 75%"
              ></span
            ></span>
          </div>
        </div>
      </div>

      <div>
        <h2 class="text-xl font-semibold text-gray-800">Intérêts</h2>
        <ul class="flex space-x-4 mt-4 text-gray-800">
          <li><i class="fa fa-laptop mr-1"></i>Coder</li>
          <li><i class="fa fa-book mr-1"></i>Lecture</li>
          <li><i class="fa fa-plane mr-1"></i>Voyage</li>
          <li><i class="fa fa-facebook mr-1"></i>Réseaux sociaux</li>
        </ul>
      </div>
    </div>
  </div>

</bod>
</html>