<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FastAPI Application{% endblock %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <!-- <body class="bg-gray-100"> -->
  <body
    class="mx-auto rounded-lg bg-gradient-to-br from-white to-indigo-100 shadow-lg"
  >
    <header class="bg-indigo-600 text-white p-4 flex justify-between">
      <div>
        <h1 class="text-2xl">My FastAPI App</h1>
        <nav class="mt-2">
          <a href="/" class="mr-4">Home</a>
          <a href="/post" class="mr-4">Services</a>
          <a href="/posts" class="mr-4">Your Posts</a>
          <!-- <a href="/mailings" class="mr-4">Messages</a> -->
          <a href="/contact" class="mr-4">Contact</a>
          <a href="/dashboard" class="mr-4">Dashboard</a>
        </nav>
      </div>
      <div class="mt-2">
        {% if request.session.get('username') %}
        <span>Welcome, {{ request.session.get('username') }}!</span>
        <form action="/logout" method="post" class="inline">
          <button
            type="submit"
            class="ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
          >
            Logout
          </button>
        </form>
        {% else %}
        <a
          href="/login"
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded"
          >Login</a
        >
        {% endif %}
      </div>
    </header>
    <main class="p-4">{% block content %}{% endblock %}</main>
    <footer class="text-center p-4">
      <p>© 2024 My FastAPI Application</p>
    </footer>
  </body>
</html>
