{% extends "layout.html" %} {% block content %}
<div class="container mx-auto px-4 py-8">
  <h1 class="text-2xl">Welcome to Your Dashboard, user.username</h1>

  <div class="mt-2 mb-2">
    <a href="/create_post" class="mr-4 bg-green-400 text-white p-1 px-2 rounded"
      >+ Create Post</a
    >
  </div>

  <section id="about">
    <div class="p-4">
      <h2 class="text-xl font-semibold">Your Posts</h2>

      <div class="mt-4">
        {% if posts %}
        <table class="min-w-full bg-white">
          <thead>
            <tr>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-indigo-600 font-semibold"
              >
                Title
              </th>
              text-left
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-indigo-600 font-semibold"
              >
                Subtitle
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-indigo-600 font-semibold"
              >
                Description
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-indigo-600 font-semibold"
              >
                Created At
              </th>
              <th
                class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-indigo-600 font-semibold"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td
                class="px-6 py-4 border-b border-gray-300 text-sm text-gray-600"
              >
                {{ post.title }}
              </td>
              <td
                class="px-6 py-4 border-b border-gray-300 text-sm text-gray-500"
              >
                {{ post.subtitle }}
              </td>
              <td
                class="px-6 py-4 border-b border-gray-300 text-sm text-gray-600"
              >
                {% if post.description.split()|length >20 %}
                <p>{{ post.description.split()[:20] | join(' ') }}...</p>
                {%else%}
                <p>{{post.description.split()[:20]| join(' ') }}</p>
                {%endif%}
              </td>
              <td
                class="px-6 py-4 border-b border-gray-300 text-sm text-gray-400"
              >
                {{ post.created_at }}
              </td>
              <td
                class="px-6 py-4 border-b border-gray-300 text-indigo-600 text-sm"
              >
                <a href="/posts/{{post.id}}/edit"> Edit </a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p class="text-gray-500">
          You haven't created any posts yet. Start creating some!
        </p>
        {% endif %}
      </div>
    </div>

    <div class="p-4">
      <h2 class="text-xl font-semibold">Your Posts</h2>
      <div class="mt-4">
        {% if posts %} {% for post in posts %}
        <div class="bg-white p-4 rounded-lg shadow mb-4">
          <h3 class="text-lg font-bold">{{ post.title }}</h3>
          <h4 class="text-md text-gray-500">{{ post.subtitle }}</h4>
          <p class="text-gray-600">{{ post.description }}</p>
          <p class="text-gray-400 text-sm">Created at: {{ post.created_at }}</p>
          <a href="/posts/{{ post.id }}/edit" class="text-indigo-600">Edit</a>
        </div>
        {% endfor %} {% else %}
        <p>You haven't created any posts yet. Start creating some!</p>
        {% endif %}
      </div>
    </div>
  </section>
</div>
{% endblock %}
